* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0 0;
  background: url(wallpaper.png) no-repeat center fixed;
  background-size: cover;
}

nav {
  margin-top: 20px;
  padding: 24px;
  text-align: center; 
  background: transparent;
}

nav a {
  transition: 0.3s ease;
  background: transparent;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding: 20px 0;
  margin: 0 5px;
  font-size: 17px;
}
nav a:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 15px 0; 
}
.carousel-item {
    height: 25rem;
    background: #000;
}

.carousel-item img {
    opacity: 0.5;
}
